h1 {
    color: rgba(245, 116, 10, 0.986);
}
h2 {
    color: blue;
}

.error {
    color: red;
}

.success {
    color: green;
}

#test {
    color: maroon;
}

.orange {
    background-color: orange;
    color: white
}

.yellow {
    background-color: yellow;
    color: maroon
}